* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#canvas {
  background: green;
  display: block;
  position: relative;
}
.actions {
  position: fixed;
  left: 0;
  top: 0;
}
.actions > #brush {
  display: none;
}
.actions.active > #brush {
  display: inline-block;
}
.actions.active > #eraser {
  display: none;
}